*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
.DS_Store
/build
/captures
.externalNativeBuild
/fakeinput_dist
app/src/main/res/raw/flyinn_fakeinputlib.jar
BuildInfo.java
app/lint-report.html
server/lint-report.html